:root {
  --blue-dark: #1f2b85;
  --blue-navy: #262a4f;
  --gray-light: #b8bcc7;
  --bg-white: #ffffff;
  --bg-pj-02: #d7d8df;
  --bg-pj-01: #dbe3ff;
  --bg-pj-03: #c7e0ff;
  --bg-pj-04: #c9ecd0;
  --font-normal: "Montserrat", sans-serif;
  --font-heading: "Merriweather", serif;
}
html {
  font-family: var(--font-normal);
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
.bg-test {
  background-color: greenyellow;
}

/* start header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  height: 120px;
  transition: all 1s ease;
  z-index: 999;
  display: flex;
  align-items: center;
}
.header__hamburger {
  cursor: pointer;
  float: right;
  padding: 12px 12px;
}
#toogle-nav {
  display: none;
}
.header__hamburger i {
  font-size: 36px;
  color: var(--blue-navy);
  transition: 0.2s linear;
}
.header__hamburger:hover i {
  color: var(--bg-pj-01);
}
#toogle-nav:checked ~ .header--sm {
  display: flex;
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  padding-top: 100px;
}

.header--sm {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  background-color: white;
  display: flex;
  align-content: center;
  justify-content: center;
  max-height: 0;
  transform: translateY(-20px);
  transition: all 0.4s ease;
  opacity: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.header--lg {
  display: none;
}
@media (min-width: 992px) {
  .header__hamburger {
    display: none;
  }
  .header--lg {
    display: flex;
  }
}

#header.scrolled {
  height: auto;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
#header .row {
  align-items: center;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.header__logo h1 {
  font-size: 32px;
  font-weight: 800;
  color: var(--gray-light);
  font-family: var(--font-normal);
}
.header__nav #navbar {
  display: flex;
  justify-content: end;
  align-items: center;
}

#navbar .navbar__btn {
  height: 46px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
}
.header__nav #navbar a {
  color: var(--gray-light);
  font-size: 17px;
  font-weight: 700;
}
.header__nav #navbar a.a--active {
  color: var(--blue-dark);
}
.header__nav #navbar a:hover {
  color: var(--blue-dark);
}
.header__nav #navbar .navbar__action-btn button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 30px;
  border: 4px;
  background-color: var(--blue-dark);
  margin-left: 33px;
  cursor: pointer;
  font-weight: 800;
}

#navbar--sm .navbar__action-btn button {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 30px;
  border: 4px;
  background-color: var(--blue-dark);
  cursor: pointer;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 30px;
}
#navbar--sm .navbar__btn {
  height: 46px;
  width: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbar--sm .navbar__btn label {
  color: var(--gray-light);
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
}
#navbar--sm .navbar__btn label:hover {
  color: var(--blue-dark);
}
/* .navbar__action-btn button:hover {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  background: linear-gradient(90deg, #0066ff, #00ccff);

} */
/* end header */

/* start hero */
/* .hero {
  padding: 220px 0px;
  text-align: center;
  background-image: url(../images/snapedit.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); 
  z-index: 1;
} */
.hero {
  position: relative;
  z-index: 0; /* Quan trọng: đảm bảo overlay nằm dưới phần chữ */
  padding: 220px 0;
  text-align: center;
  background-image: url("../images/bg-02.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.6);
  z-index: 1;
}

/* Bọc chữ vào div riêng */
.hero-content {
  position: relative;
  z-index: 2; /* Chữ nằm trên lớp overlay */
  color: white;
}
.hero h1 {
  font-size: 60px;
  color: var(--blue-dark);
  font-weight: 800;
  line-height: 100%;
  margin-bottom: 10px;
}
.hero h1:nth-of-type(2) {
  color: var(--blue-navy);
}
.hero p {
  color: var(--gray-light);
  font-size: 32px;
  font-weight: 600;
  margin-top: 50px;
}

section {
  padding: 120px 0px;
}
.project__imgs {
  padding: 20px 0px;
  text-align: center;
  position: relative;
  margin-bottom: 100px;
}
.project__img {
  object-fit: contain;

  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
}
.project__img img {
  max-height: 250px;
  width: auto;
}
.project__img--bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;

  background-color: #ffd2a6;
  border-radius: 50%;
  z-index: 0;
}
.project-01 .project__img {
  transform: translateY(15px);
}

.project__info {
  text-align: center;
}
.project__info--name {
  font-size: 36px;
  color: var(--blue-dark);
  font-weight: 800;
  margin-bottom: 20px;
}
.project__info--description {
  font-size: 14px;
  color: black;
  font-weight: 600;
}
.project__info--tech {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.project__info--tech__card {
  color: #b5b9c6;
  background-color: #f2f3f7;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 8px;
}
.project__info--link {
  margin-top: 50px;
}
.project__info--link a {
  padding: 10px 24px;
  background-color: var(--blue-dark);
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 20px;
}
.hvr-radial-out::before {
  background: linear-gradient(90deg, #0066ff, #00ccff);
}
.project-02 .project__img--bg {
  background-color: var(--bg-pj-02);
}
.project-03 .project__img--bg {
  background-color: var(--bg-pj-01);
}
.project-03 .project__img img {
  max-height: 400px;
}
.project-04 .project__img--bg {
  background-color: var(--bg-pj-04);
}
.project-04 .project__img img {
  max-height: 400px;
}
/* end project */

/* start about */
.about {
  background-color: #b5b9c6;
  background-image: url(../images/bg-02.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.about .container {
  position: relative;
  z-index: 1;
}
.about__heading {
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
}
.about__heading {
  font-size: 42px;
  color: var(--blue-navy);
  font-weight: 800;
}

.about__avatar {
  padding-right: 40px;
  margin-bottom: 30px;
}
.about__avatar--frame {
  box-sizing: border-box;
  width: 100%;
  max-width: 350px;
  border-radius: 30px;
  margin-top: 35px;
  outline: 10px solid var(--blue-navy);
  margin-right: auto;
  margin-left: auto;
}

.about__avatar img {
  border-radius: 30px;
  position: relative;
  top: -32px;
  left: 30px;
}
.about__infomation {
  background-color: var(--bg-white);

  padding-left: 40px;
  padding-top: 40px;
  padding-bottom: 46px;
  padding-right: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
}
.about__infomation .info__des {
  font-size: 18px;
  color: black;
  line-height: 32px;
  margin-bottom: 32px;
}
.about__infomation .info__btn {
  padding: 10px 24px;
  font-size: 16px;
  background-color: var(--blue-dark);
  color: white;
  font-weight: 700;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 30px;
}
/* end about */

/* start skill */
.section__heading {
  width: 100%;
  display: flex;
  justify-content: center;
  letter-spacing: 6px;
}
.section__heading h1 {
  font-size: 42px;
  color: var(--blue-navy);
  font-weight: 800;
  text-transform: uppercase;
}
.section__content {
}
.section__content h2 {
  font-size: 30px;
  color: var(--blue-navy);
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.skills__logo-list {
  flex-wrap: wrap;
  padding-top: 70px;
  padding-bottom: 70px;
}
.skills__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;

  margin-bottom: 65px;
}
.skills__logo img {
  max-height: 100px;
  margin-bottom: 17px;
}
.skills__logo figcaption {
  font-size: 24px;
  font-family: var(--font-normal);
  font-weight: 300;
  text-transform: uppercase;
}

/* start footer */
footer {
  background-color: var(--blue-navy);
  text-align: center;
  color: white;
  padding: 60px 0px;
}
footer span {
  font-size: 14px;
  font-weight: 500;
}
footer ul {
  display: flex;

  justify-content: center;
}
footer ul li {
  margin-left: 10px;
  margin-right: 10px;
}
footer ul li a img {
  width: 30px;
  height: 30px;
}
